img {
    max-width: 100%;
    text-align: center;
    border: 5px solid red;
}

header{
    font-size: 100px;
    background-color: gainsboro;
    text-align: center;
    border: 2px solid #F1f1f1;
}

a {
    color: black;
    justify-content: flex-start;
}

.nav-principal {
    text-align: center;
    justify-content: space-between;
    font-size: 50px;
    background-color: yellow;
    border: 5px solid blue; 
}

h1 {
    text-align: center;
    background-color: #F1f1f1;
    border: 5px solid green;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-size: 50px;
}


.item-1 {
    border: 3px solid orange;
    
}

.item-2 {
    border: 3px solid black;
}

.item-3 {
    border: 3px solid green;
}

.item-4 {
    border: 3px solid salmon;
}

.item-5 {
    border: 3px solid blue;
}

button {
    font-size: 50px;
}
